<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text">This is some legal stuff</span>
    &copy ABaC
    <a href='/files/tandc.pdf'>Download our terms and conditions</a>
  </div>
</footer>

<style>
    .footer{
        width: 100%;
        padding: 8px;
        background-color: #D6D6D6;
        text-align: center;
    }
    .text{
        margin-right: 20px;
    }
</style>