<ul>
  {{#each personlist}}
    <a href="/staff/{{this.name}}">
      <button type="button" class="btn btn-secondary" style="width: 120px">{{this.name}}</button>
      <br></br>
    </a>
  {{/each}}
</ul>