<ul style="margin: auto;">
  {{#each menulist}}
    <a href="/abac/{{this.name}}">
      <button type="button" class="btn btn-outline-warning" style="width: 220px">{{this.name}}</button>
      <br></br>
    </a>
  {{/each}}
</ul>
<br>
<div style="width: 30%; margin:auto">
  <p>
    Chhose the menu you prefer the most and start enjoying.
  </p>
</div>