<div style="width: 50%; margin:auto">
  <h2>Apply for a job with us!</h2>
  <br>
  <form class="row g-3 needs-validation" action="/abac/apply" method="post" novalidate>
    <div class="col-md-12">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" name="firsname" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-12">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" name="lastname" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-12">
      <label for="validationCustomMail" class="form-label">Mail</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="email" class="form-control" id="validationCustomMail" name="email" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please write your mail. (example@example)
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Observations</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observations" placeholder="Write something you want us to know"></textarea>
    </div>
    <div class="col-md-12">
      <label for="validationCustom04" class="form-label">Position</label>
      <select class="form-select" id="validationCustom04" name="position" required>
        <option selected disabled value="">Choose...</option>
        <option>Chef</option>
        <option>Waiter</option>
        <option>Kitchen assistant</option>
        <option>Front office</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid position.
      </div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Send us your CV</label>
      <input type="file" class="form-control" name="file" aria-label="file example" required>
      <div class="invalid-feedback">Example invalid form file feedback</div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="conditions" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to
          <a href='/files/tandc.pdf'>terms and conditions</a>
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-outline-warning" style="width: 100px;" type="submit">Apply</button>
    </div>
  </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>